body {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-family: 'Impact', sans-serif;
}
h2 {
    font-family: 'Impact', sans-serif;
}
h3 {
    font-family: 'Impact', sans-serif;
}
button {
    box-shadow: 3px 3px 6px black;
    margin: 27px auto 0;
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to left, 
  blue, red);
  color: white;
  font-size: 110%;
    transform: 5s;
    border: none;
    border-radius: 10px;
}
img {
    border-radius: 5px;
}
.horizontal-container {
    display: flex; /* Используем flexbox для расположения элементов в строку */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
  }
  
  .horizontal-container p {
    margin-right: 20px; /* Отступ между текстом и изображением */
  }
/* Стили для контейнера кнопки */
.custom-button {
    position: fixed;
    bottom: 20px; /* Отступ от нижнего края страницы */
    right: 20px; /* Отступ от левого края страницы */
    width: 50px; /* Задаем желаемую ширину кнопки */
    height: 50px; /* Задаем желаемую высоту кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  /* Стили для изображения внутри кнопки */
  .custom-button img {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Чтобы изображение было вписано внутрь 24x24 пикселя */
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    max-height: 300px; /* Максимальная высота окна */
    overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
  }